<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Jobs</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
   
       <!-- Include Header -->
       <%- include('components/header') %>


        <%- include('components/login-signup/loginSign') %>
        
       
     <!-- Include Footer -->
        <%- include('components/footer') %>


</body>
</html>
